@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

.reg-cont{
    background-color: rgb(146, 194, 233);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 105px;
    padding-left: 50px;
    margin-top: 7%;
    margin-left: 38%;
}

.reg-cont>h1{
    padding-left: 31%;
}
.reg-cont .si{
    padding-left: 31%;
    cursor: pointer;
}

.reg-user,.reg-pass,.reg-mail{
    border-radius: 23px;
    padding: 15px;
    font-family: 'Overpass';
    width: 130%;
    box-sizing: border-box;
}

.reg-but{

    border-radius: 23px;
    padding:8px 10px;
    width: 130%;
    font-family: 'Overpass';
    background-color: black;
    color: aqua;
    font-weight: 400;
}
.reg-but:hover{
    cursor: pointer;
    background-color: black;
    color: aqua;
}